.friend {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    justify-self: center;
    margin: 5px 10px;
    text-align: center;

    img {
        width: 60px;
        height: 80px;
        border: 1px solid rgba(80, 214, 255, 0.849);
    }

    p {
        color: rgba(80, 214, 255, 0.849);
        text-overflow: ellipsis;
        max-width: 60px;
        overflow: hidden;
    }
}

.friend:nth-child(n+5) {

    img {
        filter: grayscale(100%);
    }

    p {
        color: rgba(153, 153, 153, 0.849);
    }
}