.main>img {
    width: 100%;
}

main {
    width: 1105px;
    margin: 0 auto;
}

.profile_wrapper {
    display: flex;
    margin-left: auto;
}

.avatar {
    max-width: 347px;
    max-height: 434px;
    position: relative;
    margin-top: 10px;
    border: 1px solid rgba(80, 214, 255, 0.849);
}

.edit {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: fontAwesome;
}

.avatar_wrapper {
    margin-left: auto;
}